<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>Filmologia</title>
    <link href="style.css" rel="stylesheet" type="text/css" />
  </head>
  <body>
    <main>
      <nav>
        <img id='logo' src='' alt='logo filmologia'>
        <ul id='menu'>
          <li>Inserir</li>
          <li>Filmes</li>
        </ul>
        
      </nav>
      <section id ='novo'>
        <h1>Cadastre um novo filme</h1>
        <div id='cadastro'>                   <form>         
              <label for='titulo'>Título do filme: </label>
              <input type='text' class ='titulo'>
  
              <label for='imagem'>Capa do filme: </label>
              <input type='text' class ='imagem'>
  
              <label for='diretor'>Direção: </label>
              <input type='text' class ='diretor'>
  
              <label for='sinopse'>Sinopse: </label>
              <input type='text' class ='sinopse'>             
          </form>
        </div>
      </section>

      <section id='banners'>

        <div id='catalogo'>
          <img src='' alt='banner do filme'>
          <p>Nome do filme</p>
        </div>
        <div id='catalogo'>
          <img src='' alt='banner do filme'>
          <p>Nome do filme</p>
        </div>
        <div id='catalogo'>
          <img src='' alt='banner do filme'>
          <p>Nome do filme</p>
        </div>
        <div id='catalogo'>
          <img src='' alt='banner do filme'>
          <p>Nome do filme</p>
        </div>
        <div id='catalogo'>
          <img src='' alt='banner do filme'>
          <p>Nome do filme</p>
        </div>
        <div id='catalogo'>
          <img src='' alt='banner do filme'>
          <p>Nome do filme</p>
        </div>
        <div id='catalogo'>
          <img src='' alt='banner do filme'>
          <p>Nome do filme</p>
        </div>
        <div id='catalogo'>
          <img src='' alt='banner do filme'>
          <p>Nome do filme</p>
        </div>          
              
      </section>
    </main>
    
    <footer>
      <p>Este é um projeto de Guilherme Macedo</p>
    </footer>
    
<script src="script.js"></script>
  </body>
</html>