<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>Filmologia</title>
    <link href="style.css" rel="stylesheet" type="text/css" />
  </head>
  <body>
    <nav>
        <img id='logo' src=''>
        <ul id='menu'>
          <li> <a href='#cadastro'>Inserir</a></li>
          <li><a href='#banners'>Filmes</a></li>
        </ul>
        
      </nav>
    <main>      
      <section id ='novo'>
        <h1>Cadastre um novo filme</h1>
        <div id='cadastro'>                   <form>         
              <label for='titulo'>Título do filme: </label>
              <input type='text' class ='titulo'>
  
              <label for='imagem'>Capa do filme: </label>
              <input type='text' class ='imagem'>
  
              <label for='diretor'>Direção: </label>
              <input type='text' class ='diretor'>
  
              <label for='sinopse'>Sinopse: </label>
              <input type='text' class ='sinopse'>

          <button>Cadastrar</button>
          </form>
        </div>
      </section>

      <section id='banners'>

        <% catalogo.forEach((filmes) => { %>
                  
        <div id='catalogo'>
          <img src='<%= filmes.imagem %>' alt='<%= filme.nome%>'>
          <p><%=Nome do filme%></p>
        </div>

          <% )} %>
                     
      </section>
    </main>
    
    <footer>
      <p>Este é um projeto de Guilherme Macedo</p>
    </footer>
    
<script src="script.js"></script>
  </body>
</html>